.logo {
    position: absolute;
    height: 25%;
    width: 25%;
    float: left;
    bottom: auto;
    z-index: 3;
}

.achtergrond {
    position: static;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    background-image: url("AchtergrondFoto.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 1rem;
    min-height: 98vh;
}

.achtergrond::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8); 
    border: solid rgba(39, 229, 65, 100%);
    border-radius: 1rem;
    z-index: 1;
}

.achtergrond > * {
    position: relative;
    z-index: 2;
}

.datum {
    position: absolute;
    color: white;
    left: 87%;
    top: 84%;
}

.tijd {
     position: absolute;
     color: white;
     left: 86%;
     top: 87%;
}