#logo {

}

#achtergrond {
 position: relative;
 display: inline-block;
}

#achtergrond::after {
    background-color: rgba(83, 79, 81, 0.5);
}

.tijdafspraak {

}

.datum {

}

.tijd {

}

.afspraak {

}

.toelichting {

}